@property --margin-left {
    syntax: "<length>";
    inherits: true;
    initial-value: -45px;
}

.main-container{
    margin-top: 50px;
    padding: 50px;
    display: grid;
    gap: 5px;
    grid-template-areas: "a c" "a b";
    grid-template-columns: auto 12fr;
    grid-template-rows: 55px 8fr;

    transition: --margin-left 1s ease-in-out;
    transition-delay: 1s;

    &:has(.filters:hover){
        transition: --margin-left 0.4s ease-in-out;
        transition-delay: 0s;
        --margin-left: 10px;
    }
}
.projects-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-content: space-around;
    gap: 5px;
    grid-area: b;
    margin-left: var(--margin-left);
}
.project-card{
    position: relative;
    height: 350px;
    display: grid;
    gap: 10px;
    grid-template-rows: fit-content(100%) auto fit-content(100%) fit-content(100%);
    grid-template-areas:
    "title"
    "tags"
    "author"
    "meta"
    ;
    color: var(--gray-100);
    overflow: clip;
    &:hover{
        cursor: pointer;
        .project-thumbnail{
            scale: 1;
        }
        .project-title{
            border-bottom: 5px solid var(--yellow);
        }
    }

}
.filter-section{
    grid-area: c;
}
.search-input{
    margin-left: 0px;

    input{
        width: 30%;
        border-radius: 20px ;
        background: var(--gray-100);
    }
}
.filters{
    grid-area: a;
    background: var(--gray-100);
    color: var(--gray-600);
    padding-inline: 3px;
    transition: 1.5s all ease-in-out;
    transition-delay: 0s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: var(--gray-100);
    overflow: clip;
    svg{
        color: var(--gray-600);

        margin-top: 9px;
        margin-left: 4px;
    }

    &:hover{
        transition-delay: 0.2s;
        cursor: pointer;
        width: 500px;
        height: 500px;
    }
    .filter-grid{
        margin-top: 30px;
        width: 480px;
    }
}
.project-title{
    grid-area: title;
    background: var(--gray-600);
    font-weight: 700;
    font-size: 2rem;
    overflow: clip;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    padding-inline: 10px;
    border-bottom: 1px solid transparent;
    transition: border 0.3s ease-in-out;
}
.project-author-container{
    display: flex;
    grid-area: author;
    gap: 10px;
    align-items: center;
    padding-inline: 10px;
}
.project-avatar{
    width: 2rem;
    border-radius: 50%;
}
.project-thumbnail{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: scale 0.3s ease-in-out;
}
.project-tags{
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-inline: 10px;
    .project-tag{
        font-size: 0.8rem;
        height: fit-content;
        background: var(--yellow);
        color: var(--gray-600);
        border-radius: 20px;
        padding-inline: 10px;
    }
}
.project-meta{
    grid-area: meta;
    padding-inline: 10px;
}
